<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer class='ns-light' [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="ns-light nt-drawer__content">
        <StackLayout row="0" class="user" verticalAlignment="center" horizontalAlignment="center">
            <Image class="nt-drawer__header-image fas t-36 imgProfil" src="font://&#xf2bd;"></Image>
            <Label class="nt-drawer__header-brand idt" text="User Name"></Label>
            <Label class="nt-drawer__header-footnote idt" text="username@mail.com"></Label>
        </StackLayout>

        <ScrollView row="1" class="nt-drawer__body">
            <StackLayout id='navbar'><!-- [class.-selected]="isComponentSelected('/home')" crash si présent dans chaque GridLayout -->
                <GridLayout columns="auto, *" class="nt-drawer__list-item"  (tap)="onNavItemTap('/home')">
                    <Label col="0" text="&#xf015;" class="nt-icon fas"></Label>
                    <Label col="1" text="Accueil" class="navItem p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/signale')">
                    <Label col="0" text="&#xf071;" class="nt-icon fas"></Label>
                    <Label col="1" text="Signaler un problème" class="navItem p-r-16"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/contact')">
                    <Label col="0" text="&#xf002;" class="nt-icon fas"></Label>
                    <Label col="1" text="Contact" class="navItem p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/apropos')">
                    <Label col="0" text="&#xf005;" class="nt-icon fas"></Label>
                    <Label col="1" text="Qui sommes-nous ?" class="navItem p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/connexion')">
                    <Label col="0" text="&#xf013;" class="nt-icon fas"></Label>
                    <Label col="1" text="Connexion/Inscription" class=" navItem p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/settings')">
                    <Label col="0" text="&#xf013;" class="nt-icon fas"></Label>
                    <Label col="1" text="Paramètres" class="navItem p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet class='ns-light' tkMainContent></page-router-outlet>
</RadSideDrawer>
