<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Connexion"></Label>
</ActionBar>

<StackLayout class='bg-1' >
    <StackLayout style="padding:30 30 0 30">
        <Label class='h1 text-center' text="Histologe"></Label>
        <Image style="width:200;height:200;" src="res://icon" stretch="aspectFill"></Image>
        <TextField hint='email' keyboardType='email' autocorrect='false' autocapitalizationType="none" ></TextField>
        <TextField hint="password" secure="true"></TextField>
        <Button class='-primary -rounded-sm' text="Se connecter"></Button>
        <Button class='-primary -rounded-sm' text="Mot de passe oublié ?" (tap)="forget()"></Button>
    </StackLayout>
</StackLayout>
