<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Signaler un problème"></Label>
</ActionBar>


<ScrollView>
    <Label class='text-center' text='Votre signalement en 3 étapes'></Label>
    <Tabs height='700'>
        <!-- Navigation -->
        <Tabstrip>
            <TabStripItem>
                <Label text='Situation'></Label>
            </TabStripItem>
            <TabStripItem>
                <Label text='Informations'></Label>
            </TabStripItem >
            <TabStripItem>
                <Label text='Validation'></Label>
            </TabStripItem>
        </Tabstrip>

        <!-- 1ère partie du formulaire-->
        <TabContentItem>
            <ScrollView>
                <StackLayout id='situationSection'>
                    <Label class='text-center title' text="Situation"></Label>
                    <Label class='quest' textWrap='true' text="Sélectionner l'endroit qui concerne votre signalement"></Label>

                    <Button class='tabsButton' (tap)='showHide()' text='Extérieur'></Button>
                    <Button class='tabsButton' (tap)='showHide()' text='Parties communes'></Button>
                    <Button class='tabsButton' (tap)='showHide()' text='Logement'></Button>

                    <Label class='quest' textWrap='true' text='Décrivez le ou les problèmes rencontrés'></Label>
                    <TextField></TextField>
                    <Label class='quest' textWrap='true' text='Prendre ou télécharger des photos des problèmes'></Label>

                    <Button text="Choisir un fichier" (tap)="OpenCamera()"></Button>
                    <Button class='nextBtn fas' (tap)='nextStep()' text='&#xf0a9;'></Button>
                </StackLayout>
            </ScrollView>
        </TabContentItem>

        <!-- 2ème partie du formulaire -->
        <TabContentItem>
            <StackLayout>
                 <TextField [(ngModel)] = "myPostService.formData.nom" keyboardType='email' #courriel autocapitalizeType="none" (textChange)="onTextChange(courriel.text)" hint='Email'></TextField>
                 <TextField #telephone (textChange)="onTextChange(telephone.text)" hint='Telephone'></TextField>
                 <TextField #description (textChange)="onTextChange(description.text)" hint='Description'></TextField>
                 <TextField #proprio_info (textChange)="onTextChange(proprio_info.text)" hint='bool'></TextField>
                 <TextField #anne_construct (textChange)="onTextChange(anne_construct.text)" hint='Année de construction du logement'></TextField>
                 <TextField #idAdresse (textChange)="onTextChange(idAdresse.text)" hint='Adresse'></TextField>

                </StackLayout>
            </TabContentItem>

            <!-- 3ème partie du formulaire -->
            <TabContentItem>
                <StackLayout>
                    <Flexbox id='flex'>
                        <Label class='quest' text="J'ai bien pris connaissance des CGU"></Label>
                        <Switch></Switch>
                    </Flexbox>
                    <Label class='quest' textWrap="true" text="Pour finaliser votre signalement veuillez cliquez sur Envoyer"></Label>
                    <Button (tap)='makePostRequest()' text='Envoyer' class='submitButton'></Button>
            </StackLayout>
        </TabContentItem>
    </Tabs>
</ScrollView>







