<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Signaler un problème"></Label>
</ActionBar>

<StackLayout>
    <TextField #name (textChange)="onTextChange(name.text)" hint='nom'></TextField>
    <TextField #description (textChange)="onTextChange(description.text)" hint='description'></TextField>
    <TextField #prix (textChange)="onTextChange(prix.text)" hint='prix'></TextField>
    <TextField #categories_id (textChange)="onTextChange(categories_id.text)" hint='categories_id'></TextField>
    <Button (tap)='submitForm()' text='Envoyer'></Button>
<StackLayout>
